@font-face {
  font-family: "iconfont"; /* Project id 2847717 */
  src: url('iconfont.woff2?t=1633226416979') format('woff2'),
       url('iconfont.woff?t=1633226416979') format('woff'),
       url('iconfont.ttf?t=1633226416979') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-UserManager:before {
  content: "\e611";
}

.icon-zueJiaofei:before {
  content: "\e612";
}

.icon-Detail:before {
  content: "\e614";
}

.icon-Push:before {
  content: "\e615";
}

.icon-search:before {
  content: "\e616";
}

.icon-AdminPic:before {
  content: "\e617";
}

